<%- include("partials/header"); -%>

    <h1>home</h1>
    <p><%= HSC %></p>

   <% posts.forEach((post) => { %>
    <h1><%= post.title %></h1>
    <p><%= post.body %></p> 
    <% }); %>



<%- include("partials/footer"); -%>